@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url(' https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css');
body,html{
    height:100%;
    font-family: 'Open Sans', sans-serif;
}
.login-page{
    background-image: 
    /* top, transparent red */
    linear-gradient(
        rgba(0, 0, 0, 0.70),
        rgba(0, 0, 0, 0.70)
    ),
    /* your image */
    url('../img/login-background.jpg');
   
   background-attachment: fixed;
   background-size: cover;
}
.rider{
  margin-bottom: -50px;
 padding: 50px 40px 90px 40px !important;
  background-image: 
  /* top, transparent red */
  linear-gradient(
      rgba(0, 0, 0, 0.70),
      rgba(0, 0, 0, 0.70)
  ),
  /* your image */
  url('../img/login-background.jpg');
 
 background-attachment: fixed;
 background-size: cover;
}
.signup-page{
  background-image: 
  /* top, transparent red */
  linear-gradient(
      rgba(0, 0, 0, 0.70),
      rgba(0, 0, 0, 0.70)
  ),
  /* your image */
  url('../img/signup_bg.jpg');
  min-height: 100%;
 background-attachment: fixed;
 background-size: cover;
}

.signup-nav{
  width: 50%;
   text-align: center;
  margin-top: 10px;
}
.signup-nav > .nav-link.active {
 background-color: #FDCC02;
 color:black;
}
.s-link{
  color:black;
  
}
.s-link:hover{
  color:#FFCC01;
}
.login-box{
   padding-top:30px;
  width: 80%;
  padding-left: 30px;
  padding-right: 30px;
   padding-bottom:30px;
   border-radius: 8px;
   background-color: white;
   box-shadow: -1px 2px 10px -3px rgba(0,0,0,0.45);
   -webkit-box-shadow: -1px 2px 10px -3px rgba(0,0,0,0.45);
   -moz-box-shadow: -1px 2px 10px -3px rgba(0,0,0,0.45);
}
.signup-body{
 margin-top: 30px;
 margin-bottom: 30px;
}
.signup-box{
  padding-left: 50px;
  padding-right: 50px;
  padding-top:30px;
 width: 90%;
 margin-bottom: 50px;
  padding-bottom:30px;
  border-radius: 8px;
  background-color: white;
  box-shadow: -1px 2px 10px -3px rgba(0,0,0,0.45);
  -webkit-box-shadow: -1px 2px 10px -3px rgba(0,0,0,0.45);
  -moz-box-shadow: -1px 2px 10px -3px rgba(0,0,0,0.45);
}

.login-circle{
   
    height: 100px;
    width: 100px;
    background-color:#FFCC01;
    border-radius: 50%;
    padding:10px 20px 20px 20px;
    
}
.contact-btn{
  height: 50px;
  background-color: #FFCC01;
  color:black;

}
.btn-signin{
  background-color: transparent;
  border:1px solid #FFCC01;
  color:white;
}
.btn-signin:hover{
  color:#FDCC02;
}
.login-icon{
   
     
    color:white;
   
}
.card-accordion{
  border:0px;
  padding-bottom: 10px;
  background-color: white;

}
.accordion-body{
  font-size: 15px;
  background-color:#F9F9FB;
}
.checkbox{
    background-color:#77D173 ;
}
.login-txt{
   margin-top: 20px;
    font-family: 'Merriweather', serif;
}

.login-input{
  
    
    height: 50px;
   
    margin-bottom: 10px;
}

.psw > a {
  color:#77D173;
 
    text-decoration: none;
}
.login-footer{
    margin-top: 10px;
    padding:10px;
    background-color:#f1f1f1
   
}
.login-btn{
   background-color:#FFCC01;
   border:0px;
   height: 40px;
   color:black
}
.login-btn:hover{
    background-color:#BCC535;
}
.page-footer{
    color:#848A96;
    background-color:#151C27;
}
:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

.login-input{
    height:50;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
.header-banner{
 
  background-color:#FFCC01 ;
  color:white;
  border-radius: 0px;
  text-align: center;
  min-height: 200px;
 width: 100%;

 padding:0px;
 margin: 0px;
 
}
.btn-return{
  border-radius: 0px;

}
.logo-s{
 padding: 20px 0px 20px 0px;
}
.header-row{
  padding:0px ;margin: 0px 0px 40px 0px;
}
@media (min-width: 576px) 

{
.header-box{
	background-color: #313138;
  height: 200px;
clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);

}

}

.header-box{
  background-color:#313138;
  padding:0px;
  margin: 0px;
  
}
.header-icon{
  margin-right: 30px;
  padding:20px 20px 20px 20px;
}
.c_link{
  color:white;
  text-decoration: none;
}
.mobile_icon{
  color:black;
 padding-top: 10px;
}
.header-text{
  color: black;
  padding:20px 0px 20px 0px;
}
.contact-box{
  padding:30px 40px 20px 40px;
  color:#6595CE;
  background-color:#F7F7F7;
  border-radius: 8px;
  margin: 20px 0px 20px 0px;
  width: 90%;
}
.contact-icon{
  font-size: 40px;
  color:#6595CE;
}
a.contact-link{
  text-decoration: none;
  list-style: none;
 
  width: 100%;
}
a.contact-link :visited{
text-decoration:none;
}
.header-button{
  margin-left: 20px;
}

.contact-person{
  padding:10px 0px 10px 0px;
  position: relative;
  font-size: 20px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}
.contact-person:before, .contact-person:after {
  content: '';
  width: 150px;
  height: 3px;
  display:inline-block;
  background-color: #FFCC01;
  vertical-align: 0.3em;
  margin: 0 -100%;
}
.contact-person:before {
margin-right: 0.75em;
}
.contact-person:after {
margin-left: 0.75em;
}
.card-link > .card-header{
  color:black;
}
.card-link >.card-header:hover{
  color:#FFCC01;
}
.card-body{
  color:#63676A;
}
.icon-circle{
  background-color:#FDCC02; height: 100px;width: 100px;border-radius: 50%;padding: 20px;margin: 0px 0px 10px 0px;
}
.c-header{
  font-size: 18px;
  font-weight: bold;
  
  margin: 20px 0px 0px 0px;
}
.info-text{
  color:rgb(83, 81, 81);
}
.c-box{
  min-height: 120px;
  padding: 10px 0px 10px 0px;
  margin: 20px 0px 20px 0px;
}












select::-ms-expand {
  display: none;
}






select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}





.choose-icon{
  font-size: 50px;
  text-align: center;
  padding: 3px 6px 3px 6px;
}
.home-top{
  min-height: 90%;
  background-image: 
  /* top, transparent red */
  linear-gradient(
      rgba(0, 0, 0, 0.70),
      rgba(0, 0, 0, 0.70)
  ),
  /* your image */
  url('../img/home.jpg');
 background-attachment: fixed;
 position: relative;
  
 background-size: cover;
}
.trending-box{
  min-width: 90%;
  margin: 10px;

}

.btn-option{
  color:black;
  min-width:100px;
}
.btn-active{
  min-width: 100px;
}
.card-img-top{
  width: 100%;
  height: 200px;
}
.badge{
  width: 40px; height: 40px;border-radius: 50%;background-color: #FDCA31;position:relative;top:25px;z-index: 100;font-size: 20px;text-align: center;line-height: 25px;
}
.why-text{
  text-align: center;
}
.why-box{
  margin: 20px 0px 20px 0px;
}
.rider-header{
  padding: 10px 0px 10px 0px;
}
.ride-box{
  background-color: white;
  padding: 20px 20px 20px 20px;
 width: 100%;
 min-height: 200px;
 
}